* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0;
	padding: 0;
	background-color: #DCDCDC;
}
#scores {
	font-size: 40px;
}
.button1 {
	cursor: pointer;
	font-size: 30px;
	background-color: #00008B;
	color: white;
	display: inline-block;
	padding: 8px 14px 9px;
	text-decoration: none;
	font-family: Verdana, Sans-serif;
}
.button1:hover {
	background-color: #0000FF;
}
#info {
	font-size: 25px;
	margin: 30px 50px 0px 50px;
	padding: 30px 50px 30px 50px;
	background-color: white;
}
img {
	margin: 10px 0px 10px 0px;
}
#buttons {
	margin: 20px 0px 0px 0px;
}
#logo {
	background-color: white;
}
#nav {
	background-color: #f2f2f2;
	list-style: none;
	text-align: center;
	padding: 7px 0px 7px 0px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#nav li {
	display: inline-block;
	padding: 0px 25px 0px 25px;
}
#nav li a {
	text-decoration: none;
	color: #069;
	font-weight: bold;
	padding: 8px 15px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
#nav a:hover {
	background-color: #D3D3D3;
}
#footer {
	position: absolute;
	bottom: 0;
}