#scores {
    font-size: 40px;
}
.button1 {
    cursor: pointer;
    font-size: 30px;
    background-color: #00008B;
    color: white;
    display: inline-block;
    padding: 8px 14px 9px;
    text-decoration: none;
    font-family: "Verdana", Sans-serif;
}
.button1:hover {
    background-color: #0000FF;
}
#directions {
    font-size: 20px;
}